[submodule "eigen-git-mirror"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror
	branch = 3.3.7
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
	branch = v2.2.4
